{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "warn",

    "indent": [
      "warn",
      2,
      {
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],

    "no-unused-vars": [2, { "args": "after-used", "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-unused-vars": [
      2,
      { "args": "after-used", "argsIgnorePattern": "^_" }
    ],

    // Too Much False Positive
    "require-atomic-updates": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "rules": {
        "no-prototype-builtins": "off"
      }
    }
  ]
}
